%li.dropdown
  %a.dropdown-toggle{ :href => "#", :'data-toggle' => "dropdown" }
    = link_with_icon( 'icon-user', t('menu.dropdown.account'), true)
    %b.caret
  %ul.dropdown-menu
    - if permitted_to? :index, :account
      %li= link_to t('account.list.title'), url_for(:controller => 'account', :action => 'index')
