<ul>
  <li>Register your gear
    <ul>
      <li>With a description</li>
      <li>And its serial number.</li>
    </ul>
  </li>
  <li>Dropbox integration</li>
  <li>Tagging for brands and types</li>
  <li>Export reports
    <ul>
      <li>For sending in to insurance firms</li>
      <li>For showing at Customs</li>
      <li>Or just to take with you on holiday.</li>
    </ul>
  </li>
</ul>