<p>Need somewhere to store that user manual?</p>

<p>Want to keep the receipts alongside the gear?</p>

<p>Simply upload your files to the applications directory on <a href="http://db.tt/MVvH2ge">Dropbox</a> and you'll be
  able to link them up. Tag the link as receipt, manual or whatever you need. </p>