<h1>Social Login</h1>

<p>All you need is an account with one of <%= link_to login_provider_names, login_path %>.</p>

<p>We use external logins so that we don't get access to your password and therefore don't have to store it. We ask for the lowest level of access
  from the third party that that third party can accept.</p>

<p>We will ask for an e-mail address but that's just for sending system messages - we won't use it for anything else.</p>

<p>In future we <i>may</i> add social sharing functionality but everything will be opt-in if so.</p>